.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px; 
    color: white;
}

.subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px; 
    color: white; 
}

.rectangleSection {
  display: flex;
  align-items: center;
  height: 613px;
  background-color: #312107;
  width: 100%;
  }
  
  .rectangleTextContainer {
  max-width: 50%; 
  text-align: center;
  color: white;
  padding-left: 100px;
  }
  
  .rectangleTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    margin-bottom: 54px;
  }
  
  .rectangleSubtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    margin-bottom: 54px;
  }
  .rectangleImage {
    max-width: 100%; 
  }

  .customerTestimonials {
    text-align: center; 
  }
  
  .testimonialsTitle {
    color: #000;
    text-align: center;
    font-family: Georgia;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
  }

  .communitySection {
    display: flex;
    align-items: center;
    height: 613px;
    background-color: #312107;
    width: 100%;
    flex-direction: row-reverse; 
  }
  
  .communityTextContainer {
    max-width: 50%; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    color: white;
    padding-right: 100px; 
  }
  
  .communityImageContainer {
    max-width: 50%; 
  }

  

  

